/* .hamburger-line{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    height: 2px;
    width: 30px;
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
} */

/* Hamburger button */
*{
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    transition: all .5s ease;
}

header {
    z-index: 100;
}

#hamburger {
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 30px;
    right: 2rem;
    top: 1.25rem;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#hamburger span {
    position: absolute;
    width: 80%;
    height: 3px;
    background-color: rgb(16 185 129);
    border-radius: 30px;
    transition: 0.2s all ease;
}

#hamburger span:nth-child(1) {
    transform: translateY(-10px);
}

#hamburger span:nth-child(2) {
    transform: translateY(10px);
}

#hamburger:hover span:nth-child(1) {
    transform: translateY(-12px);
}

#hamburger:hover span:nth-child(2) {
    transform: translateY(12px);
}

#hamburger.active span:nth-child(1) {
    transform: translateY(-50px);
    opacity: 0;
}

#hamburger.active span:nth-child(2) {
    transform: translateY(50px);
    opacity: 0;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    transform: rotate(0deg);
}

#hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburger.active span:nth-child(4) {
    transform: rotate(45deg);
}


/* Fade Element scroll down */
.fade-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .fade-element.show {
    opacity: 1;
  }
  